body {
    padding: 0px;
    margin: 0px;
    background-color:      #fff;
  
    
}

.btn:hover {
   opacity:0.7;
  }

.navbar {
    /*barre de navigation dégradé orange*/
    background: linear-gradient(0.25turn, #A40606, #D98324);
}

.nav-link {
    margin-right: 1em;
    color: #fff;
}

.nav-link, .navbar-brand {
    color: #fff;
    cursor: pointer;
}

.navbar-brand:hover {
    color: #000;
}

#header {
    padding: 20px;
    text-align: center;
    color:  #fff;
   
    background: linear-gradient(0.25turn, #A40606, #D98324);
}

.header {

    background: linear-gradient(0.25turn, #A40606, #D98324);
    color:  #fff;
    
}

.navbar-collapse {
    justify-content: flex-end;
}

.features {
    margin: 4em auto;
    padding: 1em;
    position: relative;
}

.features img {
    height:300px;
    
   
}

.page-footer {
    background:linear-gradient(0.25turn, #A40606, #D98324);
    color: #fff;
    padding: 60px 0 30px;

    bottom:0;

}


.btn {
    opacity:1;
    background:linear-gradient(0.25turn, #A40606, #D98324);
    border: 0px solid #A44200;
    color: #fff;
    margin-top: 20px;
    
}
img:hover {
    opacity:0.7;
}
img {
    opacity:1;
  
    
}


.column_left
{
Width: 45%;
}

.column_right
{
Width: 30%;
}

.overlay {
    z-index: -10;
    position: absolute;
    min-height: 100vh;
    min-width: 100%;
    left: 0px;
    top: 0px;
    background-image:url(img/testback.png);
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    
}